<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body>
        {{template "messages" .}}
        {{template "content" .}}

        {{template "footer"}}
    </body>
</html>