{{define "newgroupform"}}
<form id="newGroupForm" method="post" hx-boost="true">
    <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            <input id="name" name="name" type="text" class="input {{.Form.Submission.GetFieldStatusClass " Name"}}"
                value="{{.Form.Name}}">
        </div>
        {{template "field-errors" (.Form.Submission.GetFieldErrors "Name")}}
    </div>
    {{template "csrf" .}}
</form>
{{end}}